.image-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 20px; /* Adjust the gap between images as needed */
    padding: 20px; /* Add padding around the image grid */
  }
  
  .image-grid img {
    width: 100%;
    height: 250px; /* Set a fixed height for all images */
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 24px; /* Set border radius to make corners rounded */
    box-shadow: 0px 12px 16px rgba(107, 4, 86, 1), 12px 12px 16px #114a47;
    transition: width 0.3s, height 0.3s; /* Add transition effect for width and height */
  }
  
  .image-grid img:hover {
    width: calc(100% +18px); /* Increase width by 10px on hover */
    height: 280px;/* Increase height by 10px on hover */
    box-shadow: 0px 12px 16px rgba(107, 4, 86, 1), 12px 12px 16px yellow;

  }

  .category{
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    padding: 12px;
    background: linear-gradient(to right, #6b0456, #114a47);
    margin: 10px;
    border-radius: 24px;
    color: white;
  }
.category:hover{
    cursor:pointer;
    box-shadow: 0px 12px 16px rgba(107, 4, 86, 1), 12px 12px 16px yellow;
    width:100px;
}

  .image-name {
    text-align: center; /* Center align image name */
    margin-top: 8px; /* Add margin to top */
    font-weight: bold; /* Bold font */
    box-shadow: 0px 12px 16px rgba(107, 4, 86, 1), 12px 12px 16px yellow;
    
  }

  

  @media (max-width:730px){
    .image-grid{
      grid-template-columns: repeat(1, 100%);

    }
  }
