.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 300px; /* Adjust as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 20px 20px 36px rgba(107, 4, 86, 0.5), 0px 20px 36px rgba(17, 74, 71, 0.3);

}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #6b0456;


}

.form-container form div {
    margin-bottom: 10px;
}

.form-container form label {
    display: block;
    margin-bottom: 5px;
}

.form-container form input {
    width: 94%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-container form button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #6b0456, #114a47);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container form button:hover {
    background: linear-gradient(to right, #6b0456, #114a47);
}

.form-container div p {
    margin-top: 4px;
    text-align: center;
}

.form-container div p a {
    color: #6b0456;
    text-decoration: none;
    font-weight: bold;
}

.form-container div p a:hover {
    text-decoration: underline;
}


@media (max-width:400px){
.form-container{
    width: 220px; /* Adjust as needed */

}
.form-container div p{
    font-size: 14px;
}
}
